<div class="services" id="services">
  <div class="services-heading">
    <h1 class="services-title">My Services</h1>
    <h2 class="services-des">Services i offer to my clients</h2>
    <div class="services-content">
      <div class="content-item">
        <i class="fab fa-css3-alt icon"></i>
        <h1 class="item-title">Design Trends</h1>
        <p class="item-des">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="content-item">
        <i class="fas fa-images icon"></i>
        <h1 class="item-title">Design Trends</h1>
        <p class="item-des">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="content-item">
        <i class="fab fa-wordpress icon"></i>
        <h1 class="item-title">Design Trends</h1>
        <p class="item-des">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="content-item">
        <i class="fas fa-arrows-alt icon"></i>
        <h1 class="item-title">Design Trends</h1>
        <p class="item-des">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</div>
