<div class="contact" id="contact">
  <div class="contact-heading">
    <h1 class="heading-title">Get in Touch</h1>
    <h2 class="heading-des">Feel free to contact me anytime</h2>
  </div>
  <form action="" class="form">
    <mat-form-field class="form-name" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field class="form-email" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field class="form-subject" appearance="fill">
      <mat-label>Subject</mat-label>
      <input matInput placeholder="Subject">
    </mat-form-field>
    <mat-form-field class="form-message" appearance="fill">
      <mat-label>Message</mat-label>
      <textarea matInput placeholder="Message"></textarea>
    </mat-form-field>
  </form>
  <button class="btn">Send Message</button>
</div>
